:host {
  margin: 40px;
  display: block;
}
table {
  width: auto;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 20%;
}
.search-n-add {
  display: flex;
  gap: 10px;
  button {
    height: 56px;
  }
}
mat-card{
  margin: 0 0 16px;
}
.company-details {
  width: 50%;
  .details {
    display: flex;
    margin: 20px 0;

    & > span {
      flex: 1;
    }
  }
}
