:host {
    margin: 40px;
    display: block;
  }
  table {
    width: auto;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td,
  th {
    width: 20%;
  }
  .search-n-add {
    display: flex;
    gap: 10px;
    button {
      height: 56px;
    }
  }
  