<form [formGroup]="travelForm" (ngSubmit)="searchMatatus()">
    <mat-form-field appearance="fill">
        <mat-label>From</mat-label>
        <mat-select formControlName="fromLocation">
          <mat-option *ngFor="let location of locations" [value]="location.value">
            {{ location.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>To</mat-label>
        <mat-select formControlName="toLocation">
          <mat-option *ngFor="let location of locations" [value]="location.value">
            {{ location.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Travel Date</mat-label>
        <input matInput [matDatepicker]="picker1" formControlName="travelDate" />
        <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Search</button>
</form>