:host {
  margin: 40px;
  display: block;
}
.add-vehicle {
}
form > * {
  width: 100%;
}
div[class="form-control"] {
  width: 100%;
}
mat-form-field.mat-mdc-form-field {
  width: 100%;
}
button.route-btn {
  width: initial;
  float: right;
  margin-top: 14px;
}
div.card-actions {
  display: flex;
  gap: 30px;
  margin-left: auto;
}
.route-card {
  margin-bottom: 16px;
}
.manage-vehicle-card{
  width: 50%;
}