<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    [ngClass]="!(isHandset$ | async) ? 'expanded' : ''"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-nav-list>
      <div class="profile-card">
        <div class="header">
          <p class="mat-subtitle-1">Jared Bada</p>
          <small class="mat-body-1">jbada@gmail.com</small>
        </div>
        <img src="../../../assets/icons/profile.svg" alt="profile" />
      </div>
    </mat-nav-list>
    <mat-divider> </mat-divider>

    <h2 matSubheader class="sub-header">Modules</h2>
    <mat-nav-list>
      <a
        *ngFor="let menuItem of menu"
        mat-list-item
        [routerLink]="menuItem.path"
      >
        <span class="nav-link-container">
          <mat-icon class="nav-icon">{{ menuItem.icon }}</mat-icon>
          <span class="nav-text">{{ menuItem.name }}</span>
        </span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="primary-toolbar">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="toggleMenu()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
     
        <span>Vehicle Booking Application</span>
        <span class="toolbar-spacer"></span>
        <button
          mat-icon-button
          [matMenuTriggerFor]="userProfileUtilsMenu"
          aria-label="User Profile Menu" class="profile-utils-menu"
        >
          <img src="../../../assets/icons/profile.svg" alt="profile" class="utils-profile-pic"/>
        </button>
        <mat-menu #userProfileUtilsMenu="matMenu">
          <button mat-menu-item (click)="resetPassword()">
            <mat-icon>lock_reset</mat-icon>
            <span>Change Password</span>
          </button>
          <button mat-menu-item>
            <mat-icon>manage_accounts</mat-icon>
            <span>My Profile Settings</span>
          </button>
          <button mat-menu-item>
            <mat-icon>logout</mat-icon>
            <span>Log Out</span>
          </button>
        </mat-menu>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
