<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Filter By</mat-toolbar>
    <mat-nav-list>
      <mat-accordion>
        <mat-expansion-panel expanded="true" (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Vehicle Type
            </mat-panel-title>
            <mat-panel-description>
              Cab, Matatu, Bus
            </mat-panel-description>
          </mat-expansion-panel-header>
          
          
          <mat-selection-list>
            <mat-list-option *ngFor="let folder of folders">
              <mat-icon matListItemIcon>directions_bus</mat-icon>
              <div matListItemTitle>{{folder.name}}</div>
              <div matListItemLine>{{folder.updated | date}}</div>
            </mat-list-option>
          </mat-selection-list>
          
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Travel Time
            </mat-panel-title>
            <mat-panel-description>
              Day, Night
            </mat-panel-description>
          </mat-expansion-panel-header>
          
          
          <mat-selection-list>
            <mat-list-option *ngFor="let note of notes">
              <mat-icon matListItemIcon>update</mat-icon>
              <div matListItemTitle>{{note.name}}</div>
              <div matListItemLine>{{note.updated | date}}</div>
            </mat-list-option>
          </mat-selection-list>
          
        </mat-expansion-panel>

      </mat-accordion>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Booking App</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <app-booking-grid></app-booking-grid>
  </mat-sidenav-content>
</mat-sidenav-container>
