<div
  fxLayout="column"
  fxFlexFill
  fxLayoutAlign="center center"
  style="
    background-image: url('../../../assets/login.jpg');
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  "
  class="mat-typography"
>
  <div fxLayout="column">
    <div class="mat-elevation-z4">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            User login
            <a class="redirect" routerLink="/">back to home</a>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form
            novalidate
            fxLayout="column"
            fxLayoutAlign="start stretch"
            [formGroup]="userForm"
            (ngSubmit)="login()"
          >
            <mat-form-field class="full-width" appearance="fill">
              <mat-label>Email</mat-label>
              <input
                type="email"
                class="input logins"
                placeholder="Email"
                formControlName="email"
                required
                matInput
              />
            </mat-form-field>
            <small
              class="is-danger"
              *ngIf="
                email?.invalid && email?.touched && email?.errors?.required
              "
              >email is required</small
            >
            <mat-form-field class="full-width">
              <mat-label>Password</mat-label>
              <input
                type="password"
                id="password"
                class="input"
                placeholder="Password"
                formControlName="password"
                required
                matInput
              />
            </mat-form-field>
            <small
              class="is-danger"
              *ngIf="
                password?.invalid &&
                password?.touched &&
                password?.errors?.required
              "
              >password is required</small
            >
            <!-- <small
                class="is-danger"
                *ngIf="
                  password?.invalid &&
                  password?.touched &&
                  password?.errors?.pattern
                "
                >password is weak</small
              > -->
            <small
              class="is-danger"
              *ngIf="
                password?.invalid &&
                password?.touched &&
                password?.errors?.minLength
              "
              >password is too short</small
            >
            <button
              mat-raised-button
              color="primary"
              type="submit"
              [disabled]="!userForm.valid"
            >
              Log in
            </button>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
