<mat-nav-list>
  <mat-list-item
    routerLinkActive="nav-active"
    routerLink="users"
    matRippleColor="primary"
  >
    <mat-icon matListItemIcon>group</mat-icon>
    Users
  </mat-list-item>
  <mat-list-item
    routerLinkActive="nav-active"
    routerLink="companies"
    matRippleColor="primary"
  >
    <mat-icon matListItemIcon>corporate_fare</mat-icon>
    Companies
  </mat-list-item>
  <mat-list-item
    routerLinkActive="nav-active"
    routerLink="vehicles"
    matRippleColor="primary"
  >
    <mat-icon matListItemIcon>airport_shuttle</mat-icon>
    Vehicles
  </mat-list-item>
</mat-nav-list>
