<mat-toolbar>
  <span>BookingApp</span>
</mat-toolbar>
<header>
  <h1 class="mat-headline-5 text-center mt-3" *ngIf="!isSigningIn">
    Sign Up For <strong>BookingApp</strong>
  </h1>
</header>

<!--
  Default Sign Up Layout
-->
<section class="container mat-typography" *ngIf="!isSigningIn">
  <form class="mt-4" (ngSubmit)="submitForm()" [formGroup]="signUpForm">
    <mat-form-field appearance="outline" class="w-100 mt-3">
      <mat-label>Username</mat-label>
      <input
        type="text"
        name="username"
        formControlName="username"
        matInput
        placeholder="Ex. pat@example.com"
      />
      <mat-icon matPrefix class="material-icons-two-toned"
        >account_circle</mat-icon
      >
      <mat-error *ngIf="username?.hasError('required')">
        Username is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Pin</mat-label>
      <input
        type="password"
        name="pin"
        formControlName="pin"
        matInput
        placeholder="Ex. 1234"
      />
      <mat-icon matPrefix class="material-icons-outlined">password</mat-icon>
      <mat-error *ngIf="pin?.hasError('required')"> Pin is required </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Confirm Pin</mat-label>
      <input
        type="password"
        name="confirmPin"
        formControlName="confirmPin"
        matInput
        placeholder="Ex. 1234"
      />
      <mat-icon matPrefix class="material-icons-outlined">password</mat-icon>
      <mat-error *ngIf="confirmPin?.hasError('pinMatch')">
        Confirm Pin is <strong>required</strong>
      </mat-error>

    </mat-form-field>
    <button
      mat-raised-button
      [disabled]="signUpForm.invalid || isSubmitting"
      type="submit"
      color="accent"
      class="w-100 mt-4 mb-1"
    >
      <mat-icon matSuffix *ngIf="!isSubmitting; else submitting"
        >how_to_reg</mat-icon
      >
      <ng-template #submitting
        ><mat-spinner diameter="30" strokeWidth="4" color="accent"></mat-spinner
      ></ng-template>
      <span *ngIf="!isSubmitting">Sign Up</span>
    </button>
    <small
      >Already have an account?
      <a class="icon-link text-primary" routerLink="../SignIn"
        >Sign in <i class="bi bi-box-arrow-in-right"></i></a
      ></small
    >
  </form>
</section>

<!--
  Automatic Sign In After Successful Sign Up
-->

<section
  class="container h-100 d-flex flex-column align-items-center justify-content-center"
  *ngIf="isSigningIn"
>
  <section class="loader">
    <mat-spinner color="accent"></mat-spinner>
  </section>
  <header class="mat-small text-center mt-3">Signing In</header>
</section>
