.form-container {
    max-width: 90%;
    margin: 0 auto;

    @media screen and (min-width: 960px) {
        max-width: 70%;
    }

    @media screen and (min-width: 1200px) {
        max-width: 60%;
    }

    @media screen and (min-width: 1200px) {
        max-width: 50%;
    }
}